.forecast-box {
    padding: 20px;
    width: calc(20% - 4px);
    border-radius: 5px;
}

.main-container {
    display: flex;
    margin: 20px;
}

.text-white{
    width:200px;
    height:250px;
    background-color: #9CB4AC;
}